<a href="https://colab.research.google.com/github/PieroB29/Clases_Python/blob/main/CursoML_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import pandas as pd
import numpy as np

Saving housing_test.csv to housing_test (1).csv
Saving housing_train.csv to housing_train (1).csv

In [ ]:
x = [2,4,-5,6,-7]
y = [1,3,4,2,1]

In [ ]:
x + y

[2, 4, 5, 6, 7, 1, 3, 4, 2, 1]

In [ ]:
abs(x[3])

6

In [ ]:
np.sqrt(4)

2.0

In [ ]:
np.exp(2)

7.38905609893065

In [ ]:
print(x)

[0, 4, -5, 6, -7]

In [ ]:
x[0]=0
print(x)

[0, 4, -5, 6, -7]

In [ ]:
len(x)  ##Numero de miembros en la lista

5

In [ ]:
np.max(x)

6

In [ ]:
np.min(x)

-7

In [ ]:
np.sum(x)

-2

In [ ]:
np.std(x)

5.0039984012787215

In [ ]:
df = pd.read_csv('housing_train.csv')

In [ ]:
df

     tasa_crimen    lz  industrial  rio  ...  impuestos  profesores  status  valor
0        0.01096  55.0        2.25    0  ...        300        15.3    8.23   22.0
1        0.54050  20.0        3.97    0  ...        264        13.0    3.16   43.5
2        0.21409  22.0        5.86    0  ...        330        19.1    3.59   24.8
3        0.31827   0.0        9.90    0  ...        304        18.4   18.33   17.8
4        0.02055  85.0        0.74    0  ...        313        17.3    5.77   24.7
..           ...   ...         ...  ...  ...        ...         ...     ...    ...
400      0.07896   0.0       12.83    0  ...        398        18.7    6.78   24.1
401      0.09378  12.5        7.87    0  ...        311        15.2   15.71   21.7
402      0.25199   0.0       10.59    0  ...        277        18.6   18.06   22.5
403      0.14866   0.0        8.56    0  ...        384        20.9    9.42   27.5
404      0.25356   0.0        9.90    0  ...        304        18.4   11.50   16.2

[405 rows x 13 columns]

In [ ]:
df.head(6)  ##Mostrar las 6 primeras filas

   tasa_crimen    lz  industrial  rio  ...  impuestos  profesores  status  valor
0      0.01096  55.0        2.25    0  ...        300        15.3    8.23   22.0
1      0.54050  20.0        3.97    0  ...        264        13.0    3.16   43.5
2      0.21409  22.0        5.86    0  ...        330        19.1    3.59   24.8
3      0.31827   0.0        9.90    0  ...        304        18.4   18.33   17.8
4      0.02055  85.0        0.74    0  ...        313        17.3    5.77   24.7
5      0.03871  52.5        5.32    0  ...        293        16.6    7.14   23.2

[6 rows x 13 columns]

In [ ]:
df.shape  ##Filas x Columnas

(405, 13)

In [ ]:
df.columns

Index(['tasa_crimen', 'lz', 'industrial', 'rio', 'nox', 'cuartos', 'edad',
       'distancia', 'autopistas', 'impuestos', 'profesores', 'status',
       'valor'],
      dtype='object')

In [ ]:
df['tasa_crimen'] [0:5]

0    0.01096
1    0.54050
2    0.21409
3    0.31827
4    0.02055
Name: tasa_crimen, dtype: float64

In [ ]:
df[['rio','distancia']] [0:5]

   rio  distancia
0    0     7.3073
1    0     2.8720
2    0     7.3967
3    0     3.9986
4    0     9.1876

In [ ]:
df[0:10]

   tasa_crimen    lz  industrial  rio  ...  impuestos  profesores  status  valor
0      0.01096  55.0        2.25    0  ...        300        15.3    8.23   22.0
1      0.54050  20.0        3.97    0  ...        264        13.0    3.16   43.5
2      0.21409  22.0        5.86    0  ...        330        19.1    3.59   24.8
3      0.31827   0.0        9.90    0  ...        304        18.4   18.33   17.8
4      0.02055  85.0        0.74    0  ...        313        17.3    5.77   24.7
5      0.03871  52.5        5.32    0  ...        293        16.6    7.14   23.2
6      9.91655   0.0       18.10    0  ...        666        20.2   29.97    6.3
7      0.08265   0.0       13.92    0  ...        289        16.0    8.58   23.9
8      0.08387   0.0       12.83    0  ...        398        18.7    9.10   20.3
9      1.42502   0.0       19.58    0  ...        403        14.7    7.39   23.3

[10 rows x 13 columns]

In [ ]:
df.iloc[0:10]

   tasa_crimen    lz  industrial  rio  ...  impuestos  profesores  status  valor
0      0.01096  55.0        2.25    0  ...        300        15.3    8.23   22.0
1      0.54050  20.0        3.97    0  ...        264        13.0    3.16   43.5
2      0.21409  22.0        5.86    0  ...        330        19.1    3.59   24.8
3      0.31827   0.0        9.90    0  ...        304        18.4   18.33   17.8
4      0.02055  85.0        0.74    0  ...        313        17.3    5.77   24.7
5      0.03871  52.5        5.32    0  ...        293        16.6    7.14   23.2
6      9.91655   0.0       18.10    0  ...        666        20.2   29.97    6.3
7      0.08265   0.0       13.92    0  ...        289        16.0    8.58   23.9
8      0.08387   0.0       12.83    0  ...        398        18.7    9.10   20.3
9      1.42502   0.0       19.58    0  ...        403        14.7    7.39   23.3

[10 rows x 13 columns]

In [ ]:
df.describe()  ###Estadísticas de la tabla

       tasa_crimen          lz  industrial  ...  profesores      status       valor
count   405.000000  405.000000  405.000000  ...  405.000000  405.000000  405.000000
mean      2.013710   14.197531    9.523556  ...   18.031605   11.394519   24.137037
std       6.515657   25.290060    6.542121  ...    2.220090    6.861303    9.282303
min       0.006320    0.000000    0.460000  ...   12.600000    1.730000    5.000000
25%       0.066420    0.000000    4.390000  ...   16.600000    6.360000   18.800000
50%       0.167600    0.000000    7.380000  ...   18.400000    9.680000   22.400000
75%       0.784200   20.000000   15.040000  ...   20.200000   14.670000   28.100000
max      88.976200  100.000000   25.650000  ...   22.000000   37.970000   50.000000

[8 rows x 13 columns]

In [ ]:
df.sort_values('tasa_crimen')   ##Ordenar de menor a mayor

     tasa_crimen    lz  industrial  rio  ...  impuestos  profesores  status  valor
373      0.00632  18.0        2.31    0  ...        296        15.3    4.98   24.0
238      0.00906  90.0        2.97    0  ...        285        15.3    7.85   32.2
0        0.01096  55.0        2.25    0  ...        300        15.3    8.23   22.0
395      0.01301  35.0        1.52    0  ...        284        15.5    5.49   32.7
81       0.01311  90.0        1.22    0  ...        226        17.9    4.81   35.4
..           ...   ...         ...  ...  ...        ...         ...     ...    ...
154     24.80170   0.0       18.10    0  ...        666        20.2   19.77    8.3
264     25.04610   0.0       18.10    0  ...        666        20.2   26.77    5.6
189     38.35180   0.0       18.10    0  ...        666        20.2   30.59    5.0
37      41.52920   0.0       18.10    0  ...        666        20.2   27.38    8.5
346     88.97620   0.0       18.10    0  ...        666        20.2   17.21   10.4

[405 rows x 13 columns]

In [ ]:
df.sort_values('tasa_crimen', ascending = False)   ##Ordenar de mayor a menor

     tasa_crimen    lz  industrial  rio  ...  impuestos  profesores  status  valor
346     88.97620   0.0       18.10    0  ...        666        20.2   17.21   10.4
37      41.52920   0.0       18.10    0  ...        666        20.2   27.38    8.5
189     38.35180   0.0       18.10    0  ...        666        20.2   30.59    5.0
264     25.04610   0.0       18.10    0  ...        666        20.2   26.77    5.6
154     24.80170   0.0       18.10    0  ...        666        20.2   19.77    8.3
..           ...   ...         ...  ...  ...        ...         ...     ...    ...
81       0.01311  90.0        1.22    0  ...        226        17.9    4.81   35.4
395      0.01301  35.0        1.52    0  ...        284        15.5    5.49   32.7
0        0.01096  55.0        2.25    0  ...        300        15.3    8.23   22.0
238      0.00906  90.0        2.97    0  ...        285        15.3    7.85   32.2
373      0.00632  18.0        2.31    0  ...        296        15.3    4.98   24.0

[405 rows x 13 columns]

In [ ]:
df.sort_values(['tasa_crimen','industrial'])  ##Ordenar de acuerdo a 2 columnas

     tasa_crimen    lz  industrial  rio  ...  impuestos  profesores  status  valor
373      0.00632  18.0        2.31    0  ...        296        15.3    4.98   24.0
238      0.00906  90.0        2.97    0  ...        285        15.3    7.85   32.2
0        0.01096  55.0        2.25    0  ...        300        15.3    8.23   22.0
395      0.01301  35.0        1.52    0  ...        284        15.5    5.49   32.7
81       0.01311  90.0        1.22    0  ...        226        17.9    4.81   35.4
..           ...   ...         ...  ...  ...        ...         ...     ...    ...
154     24.80170   0.0       18.10    0  ...        666        20.2   19.77    8.3
264     25.04610   0.0       18.10    0  ...        666        20.2   26.77    5.6
189     38.35180   0.0       18.10    0  ...        666        20.2   30.59    5.0
37      41.52920   0.0       18.10    0  ...        666        20.2   27.38    8.5
346     88.97620   0.0       18.10    0  ...        666        20.2   17.21   10.4

[405 rows x 13 columns]

In [ ]:
df[df['rio'] == 1]      ###Poner solo las filas q tengan cierto valor en la columna

     tasa_crimen    lz  industrial  rio  ...  impuestos  profesores  status  valor
18       0.06129  20.0        3.33    1  ...        216        14.9    3.01   46.0
27       0.11425   0.0       13.89    1  ...        276        16.4   10.50   23.0
33       3.32105   0.0       19.58    1  ...        403        14.7   26.82   13.4
60       5.20177   0.0       18.10    1  ...        666        20.2   11.48   22.7
62       0.44791   0.0        6.20    1  ...        307        17.4    8.05   29.0
64       0.21719   0.0       10.59    1  ...        277        18.6   16.03   22.4
66       0.35809   0.0        6.20    1  ...        307        17.4    9.71   26.7
73       3.53501   0.0       19.58    1  ...        403        14.7   15.02   15.6
74       8.26725   0.0       18.10    1  ...        666        20.2    8.88   50.0
77       6.53876   0.0       18.10    1  ...        666        20.2    2.96   50.0
78       0.37578   0.0       10.59    1  ...        277        18.6   23.98   19.3
88       5.66998   0.0       18.10    1  ...        666        20.2    3.73   50.0
96       3.47428   0.0       18.10    1  ...        666        20.2    5.29   21.9
110      4.22239   0.0       18.10    1  ...        666        20.2   14.64   16.8
123      0.10469  40.0        6.41    1  ...        254        17.6    6.05   33.2
127      1.12658   0.0       19.58    1  ...        403        14.7   12.12   15.3
137      1.83377   0.0       19.58    1  ...        403        14.7    1.92   50.0
139      0.40771   0.0        6.20    1  ...        307        17.4   21.46   21.7
152      0.05644  40.0        6.41    1  ...        254        17.6    3.53   32.4
170      0.06127  40.0        6.41    1  ...        254        17.6    4.16   33.1
171      0.43571   0.0       10.59    1  ...        277        18.6   23.09   20.0
209      0.09065  20.0        6.96    1  ...        223        18.6   13.65   20.7
211      0.62356   0.0        6.20    1  ...        307        17.4    9.93   27.5
222      1.41385   0.0       19.58    1  ...        403        14.7   15.12   17.0
223      0.22188  20.0        6.96    1  ...        223        18.6    6.58   35.2
224      0.04560   0.0       13.89    1  ...        276        16.4   13.51   23.3
231      0.13587   0.0       10.59    1  ...        277        18.6   14.66   24.4
236      0.11069   0.0       13.89    1  ...        276        16.4   17.92   21.5
287      1.27346   0.0       19.58    1  ...        403        14.7    5.50   27.0
304      0.01501  90.0        1.21    1  ...        198        13.6    3.16   50.0
311      1.51902   0.0       19.58    1  ...        403        14.7    3.32   50.0
375      0.17446   0.0       10.59    1  ...        277        18.6   17.27   21.7
376      8.98296   0.0       18.10    1  ...        666        20.2   17.60   17.8
379      3.84970   0.0       18.10    1  ...        666        20.2   13.27   21.7
397      0.52058   0.0        6.20    1  ...        307        17.4    9.54   25.1

[35 rows x 13 columns]

In [ ]:
df[(df['rio'] == 1) & (df['cuartos'] > 5)]  ###Doble filtro

     tasa_crimen    lz  industrial  rio  ...  impuestos  profesores  status  valor
18       0.06129  20.0        3.33    1  ...        216        14.9    3.01   46.0
27       0.11425   0.0       13.89    1  ...        276        16.4   10.50   23.0
33       3.32105   0.0       19.58    1  ...        403        14.7   26.82   13.4
60       5.20177   0.0       18.10    1  ...        666        20.2   11.48   22.7
62       0.44791   0.0        6.20    1  ...        307        17.4    8.05   29.0
64       0.21719   0.0       10.59    1  ...        277        18.6   16.03   22.4
66       0.35809   0.0        6.20    1  ...        307        17.4    9.71   26.7
73       3.53501   0.0       19.58    1  ...        403        14.7   15.02   15.6
74       8.26725   0.0       18.10    1  ...        666        20.2    8.88   50.0
77       6.53876   0.0       18.10    1  ...        666        20.2    2.96   50.0
78       0.37578   0.0       10.59    1  ...        277        18.6   23.98   19.3
88       5.66998   0.0       18.10    1  ...        666        20.2    3.73   50.0
96       3.47428   0.0       18.10    1  ...        666        20.2    5.29   21.9
110      4.22239   0.0       18.10    1  ...        666        20.2   14.64   16.8
123      0.10469  40.0        6.41    1  ...        254        17.6    6.05   33.2
127      1.12658   0.0       19.58    1  ...        403        14.7   12.12   15.3
137      1.83377   0.0       19.58    1  ...        403        14.7    1.92   50.0
139      0.40771   0.0        6.20    1  ...        307        17.4   21.46   21.7
152      0.05644  40.0        6.41    1  ...        254        17.6    3.53   32.4
170      0.06127  40.0        6.41    1  ...        254        17.6    4.16   33.1
171      0.43571   0.0       10.59    1  ...        277        18.6   23.09   20.0
209      0.09065  20.0        6.96    1  ...        223        18.6   13.65   20.7
211      0.62356   0.0        6.20    1  ...        307        17.4    9.93   27.5
222      1.41385   0.0       19.58    1  ...        403        14.7   15.12   17.0
223      0.22188  20.0        6.96    1  ...        223        18.6    6.58   35.2
224      0.04560   0.0       13.89    1  ...        276        16.4   13.51   23.3
231      0.13587   0.0       10.59    1  ...        277        18.6   14.66   24.4
236      0.11069   0.0       13.89    1  ...        276        16.4   17.92   21.5
287      1.27346   0.0       19.58    1  ...        403        14.7    5.50   27.0
304      0.01501  90.0        1.21    1  ...        198        13.6    3.16   50.0
311      1.51902   0.0       19.58    1  ...        403        14.7    3.32   50.0
375      0.17446   0.0       10.59    1  ...        277        18.6   17.27   21.7
376      8.98296   0.0       18.10    1  ...        666        20.2   17.60   17.8
379      3.84970   0.0       18.10    1  ...        666        20.2   13.27   21.7
397      0.52058   0.0        6.20    1  ...        307        17.4    9.54   25.1

[35 rows x 13 columns]

In [ ]:
df['Nueva_Columna'] = df['cuartos'] + df['industrial']
df

     tasa_crimen    lz  industrial  ...  status  valor  Nueva_Columna
0        0.01096  55.0        2.25  ...    8.23   22.0          8.703
1        0.54050  20.0        3.97  ...    3.16   43.5         11.440
2        0.21409  22.0        5.86  ...    3.59   24.8         12.298
3        0.31827   0.0        9.90  ...   18.33   17.8         15.814
4        0.02055  85.0        0.74  ...    5.77   24.7          7.123
..           ...   ...         ...  ...     ...    ...            ...
400      0.07896   0.0       12.83  ...    6.78   24.1         19.103
401      0.09378  12.5        7.87  ...   15.71   21.7         13.759
402      0.25199   0.0       10.59  ...   18.06   22.5         16.373
403      0.14866   0.0        8.56  ...    9.42   27.5         15.287
404      0.25356   0.0        9.90  ...   11.50   16.2         15.605

[405 rows x 14 columns]

In [ ]:
df.groupby('rio').mean()   ##Halla estadisticas por categorias ( la categoria la sacas de ciertas columnas)

     tasa_crimen         lz  industrial  ...     status  valor  Nueva_Columna
rio                                      ...
0       2.029038  14.810811    9.221270  ...  11.408973  23.73      15.534570
1       1.851670   7.714286   12.719143  ...  11.241714  28.44      19.238743

[2 rows x 13 columns]

In [ ]:
df.groupby(['rio','autopistas']).mean()  ###Agrupar de acuerdo a 2 categorias

                tasa_crimen         lz  ...      valor  Nueva_Columna
rio autopistas                          ...
0   1              0.027136  50.571429  ...  24.035714       9.367214
    2              0.083285  20.416667  ...  26.833333      16.280792
    3              0.094087  16.180556  ...  27.927778      10.732333
    4              0.422775  15.469072  ...  21.464948      16.170474
    5              0.622514  12.091346  ...  25.521154      15.428394
    6              0.115012  18.750000  ...  21.250000      13.791722
    7              0.150399  26.705882  ...  27.105882      11.682471
    8              0.345052   7.894737  ...  31.505263      12.886737
    24            15.318159   0.000000  ...  15.024390      23.774561
1   1              0.015010  90.000000  ...  50.000000       9.133000
    3              0.156265  20.000000  ...  27.950000      13.765500
    4              0.195176  15.000000  ...  25.812500      15.201250
    5              1.304961   1.818182  ...  27.463636      23.003636
    8              0.471570   0.000000  ...  26.000000      12.870200
    24             5.775886   0.000000  ...  31.362500      24.711375

[15 rows x 12 columns]

In [ ]:
df.groupby('rio').sum()

     tasa_crimen      lz  industrial  ...   status   valor  Nueva_Columna
rio                                   ...
0      750.74406  5480.0     3411.87  ...  4221.32  8780.1       5747.791
1       64.80846   270.0      445.17  ...   393.46   995.4        673.356

[2 rows x 13 columns]

In [ ]:
df.groupby('rio').count()

     tasa_crimen   lz  industrial  ...  status  valor  Nueva_Columna
rio                                ...
0            370  370         370  ...     370    370            370
1             35   35          35  ...      35     35             35

[2 rows x 13 columns]